.container-trirdBlock {
  display: flex;
  margin-top: 80px !important;
}

.trirdBlock-context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.trirdBlock-context h2 {
  font-size: 32px;
  line-height: 40px;
  color: #191C1F;
  margin-bottom: 19px;
  letter-spacing: 0.5px;
}

.trirdBlock-par {
  color: #5E646A;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.trirdBlock-par p:nth-child(2) {
  margin-top: 27px;
}

.trirdBlock-image {
  position: relative;
}

.man {
  position: absolute;
  left: 0;
  z-index: 10;
}

@media all and (max-width: 1100px) {
  .container {
    width: 900px;
  }

  .trirdBlock-image img {
    width: 351px;
    height: 265px;
  }
}

@media all and (max-width: 415px) {

.container-trirdBlock {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.trirdBlock-context h2 {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.trirdBlock-par {
  text-align: center;
}
}

@media all and (max-width: 320px) {

  .trirdBlock-image img {
    width: 288px;
    height: 217px;
  }

  .container-trirdBlock {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 !important;
  }
}