@font-face {
  font-family: 'MyFont';
  src: url('/assets/fonts/GraphikLCG-Regular.woff') format('woff'),
    url('/assets/fonts/GraphikLCG-Bold.woff') format('woff'),
    url('/assets/fonts/GraphikLCG-Light.woff') format('woff'),
    url('/assets/fonts/GraphikLCG-Medium.woff') format('woff'),
    url('/assets/fonts/GraphikLCG-Semibold.woff') format('woff'),
    url('/assets/fonts/GraphikLCG-Extralight.woff2') format('woff2'),
    url('/assets/fonts/GraphikLCG-Super.woff') format('woff');
  font-style: normal;
}

* {
  font-family: 'MyFont';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

.container {
  width: 1216px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.app {
  overflow: hidden;
}

.block-card,
.card-header,
.review-header,
.question-header,
.form-header,
.container-footer {
  display: flex;
  justify-content: center;
}

.card-header h2,
.review-header h2,
.question-header h2,
.form-header h2 {
  font-size: 40px;
  line-height: 56px;
}

.container-footer {
  padding: 10px 0 20px 0;
}


@media all and (max-width: 1280px) {
  .container {
    width: 1100px !important;
  }

}

@media all and (max-width: 1200px) {
  .container {
    width: 1000px !important;
  }

}

@media all and (max-width: 1100px) {
  .container {
    width: 900px !important;
  }

}

@media all and (max-width: 930px) {
  .container {
    width: 700px !important;
  }

}

@media all and (max-width: 768px) {

  .review-header,
  .container-askedCustomers {
    margin-top: 20px !important;
  }

  .app {
    overflow: hidden;
  }

}

@media all and (max-width: 415px) {
  .container {
    width: 355px !important;
  }

  .review-header,
  .card-header .container-askedCustomers {
    margin-top: 40px !important;
  }

  .css-15v22id-MuiAccordionDetails-root {
    padding: 0 !important;
  }


}

@media all and (max-width: 320px) {
  .container {
    width: 288px !important;
  }

  .block-accordion,
  input,
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: 288px !important;
  }

}